<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="MySql.Data" version="6.8.3" targetFramework="net40" />
  <package id="PlayerIOClient-Signed" version="0.0" targetFramework="net40" />
  <package id="RabbitIO" version="0.9.3.2" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.93.0" targetFramework="net40" />
</packages>